<!DOCTYPE html>
<html>
<head>
  <title>Homepage</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="/style/style.css">
  <link
  rel="stylesheet" type="text/css"
  href='path/to/your/ldbtn.min.css'
/>
  <script src="https://kit.fontawesome.com/d3defc4d52.js" crossorigin="anonymous"></script>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark position-fixed-top mx-4">
    <a class="navbar-brand" href="/">DarkURL</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto d-flex align-items-center">
        <% if (locals.user) { %>
          <li class="nav-item">
            <a class="nav-link btn-primary text-light border-0 rounded" href="/"><%= user.name %></a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="/history">My URLs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light logout p-1" href="/logout">Logout</a>
          </li>
        <% } else { %>
          <li class="nav-item">
            <a class="nav-link text-light" href="/history">My URLs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="/login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="/signup">Register</a>
          </li>
        <% } %>
      </ul>
    </div>
  </nav>
  
  <!-- -------------------------URL SHORTENER FORM--------------------------- -->
  
 
  <!-- -------------------------DISPLAY SHORTENED URL------------------------ -->
    

    <% if (!locals.id) { %>
      <div class="url-form">
        <h2>Shorten a long URL</h2>
        <form id="url-shortener-form" action="/url" method="post">
          <div class="form-group">
            <input type="url" class="form-control" id="original-url" name="url" placeholder="Enter the Long URL here" required>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="alias" placeholder="Enter an Alias">
          </div>
          <button type="submit" class="btn btn-primary btn-shorten">Shorten</button>
    
        </form>
      </div>

    <% } else if (locals.id) { %>    
      <div class="url-card copytar">
        <h2>Your Shortened URL</h2>
      <div class="url-info">
        <p><strong>Alias:</strong> <span id="alias"><%=alias%></span></p>
        <p><strong>Shortened URL:</strong> <span class="url-text shortid">http://localhost:8001/<%= id %></span></p>
        <p><strong>Original URL:</strong> <span id="original-url"><%= redirectURL %></span></p>
      </div>
      <div class="d-flex url-buttons">
        <button class="d-flex justify-content-center align-items-center btn btn-warning copy-button py-4">
          <div >
          <i class="fa fa-clone fa-xl mr-1"> </i>
        </div> Copy</button>
        <a class="d-flex align-items-center justify-content-center  btn btn-primary btn-visit py-4" href="/<%= id %>" target="_blank">
          <div class="mr-2">
          <i class="fa-sharp fa-regular fa-compass fa-xl"></i>
        </div> 
        Visit URL</a>
        <div class="dropdown">
          <button class="btn btn-qr btn btn-dark d-flex align-items-center py-4 dropdown-toggle" data-toggle="dropdown"> <svg xmlns="http://www.w3.org/2000/svg" width="20" height="40px" fill="currentColor" class="bi bi-qr-code mr-1" viewBox="0 0 16 16">
            <path d="M2 2h2v2H2V2Z"/>
            <path d="M6 0v6H0V0h6ZM5 1H1v4h4V1ZM4 12H2v2h2v-2Z"/>
            <path d="M6 10v6H0v-6h6Zm-5 1v4h4v-4H1Zm11-9h2v2h-2V2Z"/>
            <path d="M10 0v6h6V0h-6Zm5 1v4h-4V1h4ZM8 1V0h1v2H8v2H7V1h1Zm0 5V4h1v2H8ZM6 8V7h1V6h1v2h1V7h5v1h-4v1H7V8H6Zm0 0v1H2V8H1v1H0V7h3v1h3Zm10 1h-1V7h1v2Zm-1 0h-1v2h2v-1h-1V9Zm-4 0h2v1h-1v1h-1V9Zm2 3v-1h-1v1h-1v1H9v1h3v-2h1Zm0 0h3v1h-2v1h-1v-2Zm-4-1v1h1v-2H7v1h2Z"/>
            <path d="M7 12h1v3h4v1H7v-4Zm9 2v2h-3v-1h2v-1h1Z"/>
          </svg>
           QR Code</button>
           <ul class="qr-code-container dropdown-menu">
            <li class="dropdown-item">
              <img id="qr-code-image" width="100px" src="<%= qrCodeData %>"/>
            </li>
          </ul>
        </div>
      </div>
      
      <div class="shorten-another">
        <a class="btn btn-success" id="shorten" href="/">Shorten Another URL</a>
      </div>
      </div>
    <% } %>
  
    <div class="footer">
      <p>&copy; 2023 Sustainer2020. All rights reserved.</p>
    </div>

  <script src="/js/script.js"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>
